.App {
    background: black;
}




.links {
display:flex;
justify-content: flex-end;
/* justify-content: space-between; */
margin-left: 700px;
margin-top: 10px;
color: white;
}

.link {
padding-right: 40px;
font-size: 22px;
color: white;

}

